
/**Quita los margenes existentes*/
*
{
  margin: 0;
  padding:0;
}

table 
{
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

th {
    background-color: #4CAF50;
    color: white;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/********************* SECCION CONTENEDORES***************************/

.Encabezado
{
    margin: 5px auto;  
    padding: 20px auto;
    width: 100%; 
    
}

.wrapper{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.contenedor{
    margin: 0px;
    padding: 0px;
    width: 100%;

}

.formulario{
    margin: auto;
    padding: 0px;
    width: 90%;
    font-family: Arial;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    border-radius: 8px;
    height:100%; 
    text-align: left;

}
.enviar
{
    text-align: center;    
}


.formulario h1{
    padding: 10px;
    background-color: #8870FF;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.desc{
    padding: 10px 20px;
}

.formulario form{
    padding: 20px 20px;
    margin: 0px;
}

.input{
    display:block;
    margin: 0px;
    border:none;
    border-bottom:1px solid #808080;
    font-family: sans-serif;
    font-size: 18px;
    width: 100%;
    padding:10px 6px;
}


.button{
    background-color: #8870FF;
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;
}

.label
{
    font-family: Helvetica, sans-serif;
    color:#009688;
    font-weight:bold;
}.input:not(:valid)~.w3-validate{color:#f44336}


.select
{
    padding:9px 0;
    width:25%;
    color:#000;
    border:1px solid transparent;
    border-bottom:1px solid #009688;
    font-family: Helvetica, sans-serif;
}
.select select:focus
{
    color:#000;border:1px solid #009688
}.select option[disabled]{color:#009688}

