<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> DESAYUNO </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>DESAYUNO</h1>

            <p>
              Al ser un hotel todo inlcuido, tu hospedaje incluye alimentos y bebidas en todos nuestros restaurantes y bares, servicio a cuartos las 24hrs (aplica cargo por servicio) y servicio de minibar en habitación (rellenado una vez durante su estancia). Incluye acceso a nuestras Noches Tema regulares. No incluye cenas románticas o eventos especiales. Nuestras tarifas ya incluyen impuestos.

              En Buenaventura Grand el auténtico sazón mexicano y su variedad gastronómica internacional te permitirá vivir una completa experiencia gastronómica de muy buen gusto en cualquiera de nuestros 4 restaurantes y 3 bares:

              Déjate sorprender por la perfecta armonía entre el colorido y los aromas culinarios de este acogedor restaurante, en donde podrás degustar, sin duda alguna, el más exquisito desayuno de Puerto Vallarta, comidas y la mejor variedad en cenas en nuestros ya reconocidos Buffets con diferente temática cada noche.

              Por las noches, nuestro Club de Playa se viste de gala para dar vida al Restaurante Sunset, donde el atardecer de Puerto Vallarta es el testigo más fiel de las exquisiteces que se preparan en nuestro restaurante de especialidades mediterráneas. Productos seleccionados bajo rigurosas normas de calidad, la sabia experiencia del Chef al combinar sabores y la hospitalidad singular de sus anfitriones. Tres elementos que sumándose maravillan hasta los más exigentes paladares. Así es el Restaurante Sunset (Se requiere de previa reservación con nuestro departamento de Concierge).
            </p>

          </section>

        <aside id="bienvenida">


            <div >
              <br>
              <img src=".\IMAGE\desayuno.jpg" height="150" width="220" />
              <br>
              <br>
              <h3>DESAYUNO</h3>


            </div>
        </aside>
      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
