<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> FIN DE SEMANA </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}


      <div id="contenedor">
          <section>
            <h1>FIN DE SEMANA</h1>
            <p>
              Ubicado en el noreste del estado de Morelos, es un pueblo bonito, bien cuidado y poseedor de una notable serie de maravillas. Ahí está su grandioso templo y ex convento agustino de la Inmaculada Concepción (terminado en 1565), su tianguis dominical donde sigue vigente el trueque y el famoso hotel spa La Casa de los Árboles, que es uno de los más apreciados del país.

            </p>
            <br>
            <h1>¿Qué hacer?</h1>
            <p>
              Desde luego, pasear por el pueblo y admirar su arquitectura. En la ruta de los conventos morelenses designados Patrimonio de la Humanidad por la UNESCO, el de Zacualpan se encuentra en el primer sitio por el oriente, de modo que el poblado es un excelente lugar para iniciar la exploración de esta serie monumental (los que siguen son los de Hueyapan y Tetela del Volcán, a 24 y 14 km de distancia, respectivamente). También vale la pena conocer las bellas capillas de barrio del pueblo, así como las ruinas de las haciendas cercanas.
            </p>

          </section>

        <aside id="bienvenida">

          <br>
          <img src=".\IMAGE\morelos.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>VISITA MORELOS</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
