<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> FUMADORES </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
    
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>SOBRE EL AREA DE FUMADORES</h1>
            <br>
            <p>
              La ley 13, que reglamentada por el Decreto 230 del 6 de mayo, prohíbe el consumo de cigarrillos en espacios cerrados de acceso público donde haya concurrencia de personas, así como áreas comunes de edificios de uso comercial, doméstico y laboral. Además no se podrá fumar en áreas físicas abiertas o cerradas con acceso al público, en lugares de trabajo, puertas de acceso, estacionamientos, sanitarios en general, cualquier lugar con actividad pública del terminal donde concurran colaboradores y usuarios.

              La restricción  se aplica a comercios, aerolíneas, visitantes, pasajeros, colaboradores y público en general, cuyo fin es proteger a las generaciones presentes y futuras de los graves estragos que produce el consumo de tabaco o la exposición al humo del cigarrillo.<br><br>

            <b>¡Gracias por su colaboración! </b>
            </p>
            <br>

          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\fumadores.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>AREA DE FUMADORES</h3>

        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
