<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> HABITACIONES </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
          <h1>NUESTRAS HABITACIONES</h1>
          <p>
             Ponemos a su disposición la comodidad de nuestras amplias suites y habitaciones. Cada una de nuestras 210 habitaciones esta decorada en tonos naturales con artesanías de hojalata tradicionales en bello contraste con modernos muebles de madera. Cada habitación cuenta con caja de seguridad, secador de pelo, teléfono y televisión plasma. Algunas habitaciones tienen vista a nuestra hermosa alberca mientras otras tienen vistas a nuestros tranquilos jardines. El hotel tiene habitaciones con acceso a huéspedes con necesidades especiales. No se puede fumar dentro del hotel, incluyendo todas las habitaciones.
          </p>
          <br>
          <h2>HABITACION ESTANDAR</h2>
          <ul>
            <li>31 MTS</li>
            <li>Dos camas Matrimoniales</li>
            <li>Baño completo</li>
            <li>Tv Plasma 32</li>
            <li>Set de planchado</li>
          </ul>

          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\habitacion.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>HABITACION</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
