<header>
          <div id="enlaces">
            <a href="en">English version </a>
          </div>

          <!--logotipos -->
          <div id="logo">
            <!--Agrega una imagen -->
            <img src=".\image\portada.png" />
          </div>


          <!--MENU DE NAVEGACION -->
          <nav class="navegacion ">
            <ul class="NAVEGACION">
              <li><a href="index.php">Home</a></li>
              <li><a href="#">Categorias</a>
                  <ul>
                      <li><a href="lugares.php">Lugares de interes</a></li>
                      <li><a href="habitaciones.php">Habitaciones</a></li>
                      <li><a href="reservaciones.php">Reservaciones</a></li>
                      <li><a href="productos.php">Productos</a></li>

                  </ul>
              </li>
              <li><a href="#">servicios</a>
                  <ul>
                    <li><a href="renta.php">Renta de habitación</a></li>
                    <li>
                      <a href="promociones.php">Promocion de paquetes</a>
                    </li>
                    <li><a href="desayuno.php">Desayuno</a>
                    <li><a href="internet.php">Servicio de Internet</a>
                    <li><a href="limpieza.php">Limpieza</a>
                    <li><a href="fumadores.php">Area Fumadores</a>
                    <li><a href="alberca.php">Alberca</a>
                    <li><a href="spa.php">Spa </a>
                    <li><a href="admin/index.php">Iniciar Sesion </a>

                    </li>
                  </ul>
              </li>
              <li><a href="#">acerca de </a>
                  <ul>
                    <li><a href="mision.php">Mision</a></li>
                    <li><a href="vision.php">Vision </a></li>
                    <li><a href="valores.php">Valores</a></li>

                  </ul>
              </li>

              <li><a href="#">Viajes</a>
                <ul>
                    <li><a href="negocios.php">Negocios</a></li>
                    <li><a href="playa.php">A la playa</a></li>
                    <li><a href="fin_semana.php">Fin de semana</a></li>
                    <li><a href="#">Otras ofertas</a></li>
                </ul>
                <li><a href="contacto.php">contacto</a></li>
              </li>
            </ul>

          <!--FIN DEL MENU DE NAVEGACION -->
          </nav>

      </header>
