<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> HOTEL DUMORT </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}


      <div id="contenedor">
          <section>

            <h1>HOTELES INTELIGENTES </h1>
                <p>
                  Espacios modernos, funcionales, bien ubicados y con todo lo indispensable para que tengas una gran estadía. Somos tu mejor opción para descansar o trabajar.
                </p>
          <br>
            <h2>CALIDAD</h2>
            <p>
              Funcionalidad orientada a una experiencia inteligente. Contamos con lo mas importante para un viaje: buenas instalaciones, servicio y precio accesible
            </p>

          <br>

            <h2>UBICACION</h2>
            <p>
              Estamos en zonas seguras de puntos estratégicos, cerca de centros industriales y de negocios, pero también de importantes zonas turísticas
            </p>

            <br>

            <h2>PRECIO</h2>
            <p>
              Cobertura nacional, instalaciones modernas, el mejor servicio, y todo esto al precio que te da todo lo que necesitas
            </p>

          </section>

        <aside id="bienvenida">


            <div >

              <img src=".\IMAGE\autor.jpg" />
              <h3>BIENVENIDO</h3>
              <p>
                Bienvenido a nuestro sitio web, en donde encontraras
                la mejor habitacion para poder descansar.
              </p>
            </div>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
