<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> INTERNET </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

    {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>SERVICIO DE INTERNET </h1>
            <br>
            <p>
              El acceso a Internet se ha convertido en un servicio básico y sus clientes consideran que un servicio de internet fiable resulta fundamental, lo que significa que para un hotel moderno es imprescindible contar con una solución de Internet fiable y sólida. Sin duda, el servicio de Internet es uno de los factores clave que determina la satisfacción y fidelidad del cliente.
            </p>

            <br>
            <h1>ANCHO DE BANDA</h1>

            <p>
              A fin de dar respuesta a la demanda de un mayor ancho de banda por parte de los clientes, los servicios de ancho de banda fraccionable permiten a los hoteles ofrecer diferentes tipos de acceso a Internet en función de los distintos tipos de anchos de banda y tiempo de uso, proporcionándole así un método rentable de gestión del ancho de banda y haciendo posible que los clientes paguen por la cantidad de ancho de banda que necesiten.
            </p>
            <br>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\internet.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>SERVICIO DE INTERNET</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
