<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> LIMPIEZA </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

    {include file='publico/header.html'}      

      <div id="contenedor">
          <section>
            <h1>SOBRE LA LIMPIEZA </h1>
            <br>
            <p>
              La calidad de los servicios es un punto clave para la satisfacción de los clientes, eso lo saben los hoteleros, pero tendrán también que tomar nota sobre este asunto.

              La limpieza es el aspecto más valorado por los huéspedes , indistintamente de la categoría del hotel en el que se alojen.

              Los de los hoteles 5 estrellas prefieren, después de la pulcritud, la conservación de las habitaciones y su equipamiento, siendo el precio lo menos importante para ellos.

              En cambio para los que buscan disfrutar de servicios aceptables a un precio razonable, los que se alojan en hoteles de 3 y 4 estrellas, dijeron que para ellos lo más valorado es la actitud de los empleados y su conocimiento de idiomas.

              El precio, como es lógico, es más importante para los que se alojan en los hoteles de menor categoría.

              Este tipo de encuestas sirven para conocer las exigencias de los viajeros, que al parecer, reclaman un buen servicio pero, sobre todas las cosas, una habitación sin polvo, unas sábanas limpias y un baño bien aseado.
            </p>
            <br>


          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\limpieza.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>LIMPIEZA</h3>

        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
