<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> LUGARES </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>LUGARES DE INTERES</h1>
            <ul>
              <li>
                <ul>
                  <li> Museo de la Ballena, Baja California Sur</li>
                  <li> Centro Intercultural de Estudios de Desiertos y Océanos, Sonora</li>
                  <li>Museo Regional de Durango</li>
                  <li> Casino Español, Ciudad de México</li>
                  <li> Casa Museo, María Félix, Sonora </li>
                  <li>Museo del Juguete Antiguo, Ciudad de México </li>
                  <li> Museo de Arte Popular Ex-Convento de Santa Rosa</li>
                  <li> Museo del Café, Veracruz</li>
                  <li> Museo regional de Tlaxcala</li>
                  <li> Hospicio Cabañas, Jalisco</li>
                  <li> Museo Nacional de las Artes Gráficas, Querétaro</li>
                  <li> Memorial del 68, CCU Tlatelolco</li>
                  <li> Desierto de los Leones, Ciudad de México </li>
                </ul>
              </li>
            </ul>

          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\interes.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>LUGARES DE INTERES</h3>
        </aside>
        
        {include file='componentes/footer.html'}
      </div>
      {include file='componentes/js.html'}
    </div>
  </body>
</html>
