<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> MISION </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>MISION </h1>
            <br>
            <p>
              Somos una empresa familiar comprometida con la satisfacción de nuestros clientes, ofreciéndoles una experiencia única y siendo la excelencia nuestra carta de presentación. Desarrollamos nuestra actividad en un marco de compromiso con la sociedad y respeto al Medio Ambiente.
            </p>
            <br><br><br><br><br><br><br><br><br>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\MISION.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>NUESTRA MISION</h3>


        </aside>

      {include file='componentes/footer.html'}
      </div>
      {include file='componentes/js.html'}  
    </div>
  </body>
</html>
