<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> NEGOCIOS </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}
    
      <div id="contenedor">
          <section>
            <h1>NEGOCIOS</h1>
            <br>

            <p>
              Los viajes de negocios son necesarios para los emprendedores debido a que son oportunidades para hacer networking, reunirse con clientes y asistir a ferias o cursos de capacitación. Sin embargo, en tiempos de crisis como el actual representan importantes costos que pocas compañías pueden solventar. “Hoy por hoy, en los negocios se cuidan los gastos de viaje”, advierte Jorge Martín del Campo, director comercial de la agencia Corporate Travel Services.

              Pero el panorama no es del todo desalentador. Alrededor del 60% de los viajes realizados diariamente pertenecen al negocio corporativo. Los principales destinos en el país son la Ciudad de México, Monterrey, Guadalajara, Mérida y Cancún; mientras que en el escenario mundial Brasil, Argentina, Estados Unidos y ciudades como Frankfurt y París mantienen la supremacía como centros de negocios. Y es que, de acuerdo al experto, realizar este tipo de viajes forma parte de las estrategias empresariales. “Lo importante es saber cómo ahorrar en esta actividad”, afirma.

            </p>
            <br>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\negocios.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>VIAJE DE NEGOCIOS</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
