<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> OTRAS OFERTAS </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>OTRAS OFERTAS</h1>
            <p>
              Descubre los mejores hoteles todo incluido en Nuevo Vallarta para tus próximas vacaciones. Hoteles.com tiene disponibilidad en 10 All Inclusive Nuevo Vallarta hoteles para tu reserva - sólo MXN 809/noche!

              ¡Aquí te presentamos 6 tips esenciales al momento de hacer tu reservación!

              Los hoteles todo incluido en Nuevo Vallarta cuentan con todo lo necesario para garantizarte una estancia placentera en el destino. Como su nombre lo indica, estos establecimientos te ofrecen una completa variedad de servicios por los que no deberás pagar en el establecimiento, ya que su costo está cubierto desde el momento que haces tu reservación. ¡Con tu hospedaje todo incluido en Nuevo Vallarta, lo único que tendrás que hacer es disfrutar de tu descanso y divertirte como te mereces!

              Encuentra la mejor opción de reserva entre las 2063 opiniones de huéspedes para hoteles locales y resorts. Vea aquí los 5 hoteles all inclusive más reservados:

              Explora las opciones de hoteles en Nuevo Vallarta todo incluido para para conocer la amplia variedad de servicios que tienen disponibles. Hay de todo tipo, desde las opciones sencillas hasta los establecimientos de lujo. La mayor ventaja de reservar los hoteles todo incluido en Nuevo Vallarta, es que tus vacaciones quedan completamente cubiertas desde el momento de tu reservación. En la mayoría de los casos, los hoteles all inclusive incluyen, además del hospedaje, los alimentos y bebidas, uso de instalaciones para huéspedes, acceso a eventos en el hotel, y propinas. Elige tu hotel todo incluido para una escapada de fin de semana, con tu familia, amigos o para un viaje romántico.
            </p>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\ofertas.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>OTRAS OFERTAS</h3>
        </aside>
        {include file='componentes/footer.html'}
      </div>
      {include file='componentes/js.html'}
    </div>
  </body>
</html>
