<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> PLAYA </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

    {include file='publico/header.html'}

      <div id="contenedor">
          <section>

          <h1>LA PLAYA</h1>
          <br>
            <p>
              Bahía de Kino es un destino remoto pero a la vez accesible, verdaderamente una estrella en el Mar de Cortés.

              La Playa R.V. & Hotel es conocida como el mejor hotel en Bahía de Kino. Aquí experimentarás la mejor estancia de calidad y servicio personalizado del área. Es un verdadero lugar para escapar!!!
              Relájate en la hermosa playa dorada de Bahía de Kino, mientras disfrutas de tu bebida favorita y escuchas el quebrar de las olas a solo metros de distancia. Podrás disfrutar de un confortante masaje, después de muchas de las actividades de tu elección: caminar en la playa, un paseo en boteo ultraligero, pescar, bucear, jacuzzi, nadar, fotografiar la fauna, el desierto o un atardecer, las opciones son infinitas…

              Todos nuestros cuartos de hotel tienen vista al mar con una terraza privada, desde donde cada día puedes observar un atardecer que te quita la respiración. Las instalaciones son nuevas y de primera.
              Te invitamos a visitarnos y verlo por ti mismo. Podrás ser como muchos otros que han venido de vacaciones y han deseado quedarse por siempre…
            </p>

          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\playa.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>LAS PLAYAS</h3>
        </aside>
      
      {include file='componentes/footer.html'}
      </div>
        
        {include file='componentes/js.html'}      
    </div>
  </body>
</html>
