<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> PRODUCTOS </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>PRODUCTOS</h1>
            <br>
            <p>
              Desde ProductosParahoteles.com, queremos que su hotel disponga de todas las prestaciones, sea cual sea su tamaño y siempre al mejor precio. Por ello nos esforzamos por buscar los mejores productos para su hotel, para ofrecerselos al mejor precio.

              Desde Minibares hasta Cajas fuertes, pasando por Televisores, accesorios de baño, secadores de pelo, cerraduras o software de hotel. Todo lo necesario para equipar su establecimiento.
              Si dentro de nuestra oferta de productos, no encuentra lo que busca, por favor, solicítenoslo e intentaremos satisfacer sus necesidades.
            </p>
            <br>
            <p>
              Si necesita la instalación de nuestros productos, consúltenos y le haremos un presupuesto personalizado.
              Recuerde que tenemos disponibilidad de casi todos los productos de esta web para entrega inmediata.
            </p>

          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\producto.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>PRODUCTOS DISPONIBLES</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
