<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> RENTA </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">
      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>Habitaciones de Hotel</h1>
            <p>
              Compara los 3 Hoteles del Disneyland Resort para decidir cuál se ajusta a tus necesidades. Reserva tu estancia en el complejo y deja que te traten con la calidad, servicio y beneficios adicionales que son legendarios en Disney.
              También existen casi 4 docenas de hoteles Good Neighbor aprobados por Disney, y todos están cerca del Disneyland Resort.
              Paquete Vacacional
              Los Paquetes Vacacionales al Disneyland Resort combinan hospedaje, boletos a los Parques Temáticos, beneficios exclusivos y sorpresas especiales.
              Al reservar tu visita por Internet tienes la opción de elegir 'Sólo Hotel', lo que te da opciones de estancia en uno de los 3 hoteles del Disneyland Resort.
              O puedes comprar un 'Paquete Vacacional'. Con un Paquete Vacacional puedes agregar fácilmente las siguientes convenientes opciones:
            </p>
            <br>
            <ul>
              <li>Planes de Comidas Prepagadas, incluyendo Comidas con los Personajes de Disney</li>
              <li>Boletos de avión</li>
              <li>Renta de auto</li>
              <li>Transporte terrestre</li>
              <li>Acceso a recorridos y destinos en el sur de California</li>
            </ul>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\renta.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>RENTA DE HABITACIONES</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}  
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
