<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> RESERVACIONES </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>RESERVACIONES </h1>
            <p>
              MexicoHoteles, ponemos a su alcance todos los destinos de playa del país, ciudades coloniales y grandes ciudades, con las mejores tarifas, descuentos y promociones exclusivas, Hoteles, Traslados, Renta de Autos, Tours y Excursiones, reserve rápido, fácil y seguro, garantizado.
            </p>
            <br>
            <h2>DESTINOS</h2>
            <ul>
                <li>Puerto Vallarta Desde MXN $725*</li>
                <li>Puerto de Luna All Suites  Desde MXN $870*</li>
                <li>Puerto Vallarta Desde MXN $939*</li>
                <li>Hacienda Buenaventura Desde MXN $1,999*</li>
                <li>Pelicanos Club Beach Resort Puerto Vallarta Desde MXN $2,350*</li>
                <li>Puerto Vallarta All Inclusive Family Beach Desde MXN $2,465*</li>
                <li>Vallarta Beach Resort and Spa Puerto Vallarta Desde MXN $2,625*</li>
            </ul>
            <br>
          </section>

        <aside id="bienvenida">
          <br>
          <img src=".\IMAGE\reservacion.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>RESERVACIONES</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
