<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> SPA </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>Shakti SPA</h1>
            <p>
              ¿Le gustaría sumergirse en los aromas y las sensaciones de la total armonía espiritual y física? ¡Puede lograr eso y más en Buenaventura Grand Hotel & Great Moments!

              En el ambiente se respira paz y tranquilidad. Abundan aromas que estimulan los sentidos. Tonos cálidos adornan el interior. El más mínimo detalle se cuida para que el rejuvenecimiento esté completo. Permita que su mente y su cuerpo se relajen mientras las olas murmuran en la distancia...
            </p>

            <p>
              Un suntuoso menú de masajes, scrubs, faciales y tratamientos terapéuticos para el cuerpo le da nueva vida a los cuerpos estresados, cansados y rendidos. Déjese consentir con un masaje a cuatro manos; un scrub de Kopal; un facial de limpieza profunda o un tratamiento de Mokka.

              Las instalaciones del SPA Buenaventura incluyen cabinas privadas para masajes, cada una con el equipo especializado necesario para llevar a cabo los distintos tratamientos faciales y corporales además de un área separada para masajes en pareja y la opción de disfrutar su masaje a la orilla de la playa. El uso del jacuzzi es cortesía del SPA. Los exclusivos productos de aromaterapia y un personal altamente entrenado asegurarán un excelente resultado.
            </p>

          </section>

        <aside id="bienvenida">


            <div >
              <img src=".\IMAGE\SPA.jpg"height="200" width="250" />
              <h3>SPA</h3>
              <p>

              </p>

            </div>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
