<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> VALORES </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
          <h1>VALORES</h1>
        <br>
          <p>
            Los valores de Vincci Hoteles están interrelacionados y se complementan mutuamente. Nos diferencian y nos guían en nuestra labor cotidiana siendo la base de nuestra cultura empresarial.
          </p>
          <br>
          <h1>Respeto</h1>
          <p>
            En el Hotel Dumort valoramos y reconocemos a las personas. Propiciamos el buen trato y las buenas relaciones dentro y fuera de la Organización.
          </p>
          <br>

          <h1>Excelencia</h1>
          <p>
          En el Hotel Dumort trabajamos buscando los mayores estándares de desempeño y calidad en el servicio para contribuir con el bienestar y confort del huésped y con los objetivos de la empresa.
          </p>Excelencia


          </section>

        <aside id="bienvenida">


            <div >
              <br>
              <img src=".\IMAGE\valores.jpg" height="150" width="220" />
              <br>
              <br>
              <h3>NUESTROS VALORES</h3>

            </div>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
