<!DOCTYPE html>     <!--INDICA QUE ES UN DOCUMENTO HTML -->
<html>
  <head>
    <meta charset="utf-8">
    <title> VISION </title>

    <!--hoja de estilos -->
    {include file='publico/estilos.html'}
  </head>
  <body>
    <!--contenedor principal -->
    <div id="wrapper">

      {include file='publico/header.html'}

      <div id="contenedor">
          <section>
            <h1>VISION</h1>
            <br>
            <p>
              Trabajamos para posicionarnos como una organización líder en el negocio de la hotelería, siendo reconocidos por la calidad de nuestro servicio y la orientación a la satisfacción de las necesidades y expectativas de nuestros huéspedes, siempre bajo estrictos criterios de rentabilidad, transparencia, protección del Medio Ambiente y compromiso social.
            </p>
            <br><br><br><br><br><br><br><br><br>

          </section>

        <aside id="bienvenida">

          <br>
          <img src=".\IMAGE\vision.jpg" height="150" width="220" />
          <br>
          <br>
          <h3>NUESTRA VISION</h3>
        </aside>

      </div>
      {include file='componentes/footer.html'}
    </div>
    {include file='componentes/js.html'}
  </body>
</html>
